{% extends "base.html" %}
{% load album_tags %}

{% block extrahead %}
<script>
String.prototype.startswith = function(str)
{return (this.match("^"+str)==str)}

var a = "none"
$(document).ready(function() {

    $('a.download_link').click(function() {
        var class_list = $(this).attr('class').split(/\s+/);
        var album_id
        var storage_id

        $.each( class_list, function(index, item){
            if (item.startswith('album')) {
               album_id = item.substr(6);
            }
            
            if (item.startswith('storage')) {
               storage_id = item.substr(8);
            }
        });
        
        // send ajax request to tell the server we clicked
        // this link so the bandwidth useage is noted
        $.ajax({
            type: "POST",
            url: "/storage/set_bandwidth/",
            data: "album=" + album_id + "&storage=" + storage_id,
            dataType: "text"
        });
        
        return false
    });
    
});

</script>
{% endblock %}

{% block content %}

    All links expire 60 seconds after this page is rendered. 
    "So hurry up and choose which one of them mirrors you want to download from
    before they all dissappear." --Bob Dylan
    
    <br><br>
    
    <big>{{album}}</big>
    
    <ul>
    {% for storage in album.storages.all %}
    
        <li>{% s3_dl storage album %}<br>
        {{ storage.bandwidth_status }}
        </li>
    
    {% empty %}
        <li>omg no mirrors yet</li>
    {% endfor %}
    </ul>
    

{% endblock %}
