{% extends "base.html" %}
{% load pagination_tags %}

{% block content %}
{% autopaginate albums 50 %}
{% paginate %}
<ul>
    
    {% for album in albums %}
    <li>
        <strong>{{ album.artist }} - {{ album.date }} - {{ album.album }}</strong>
        {% if album.meta %} <small>[{{ album.meta }}]</small>{% endif %}
        <br>
        <small><a href="{{ album.get_absolute_url }}">Download</a>
         ({{album.storages.count}} mirrors) {{ album.size_mb }} ({{ album.profile }})
        </small><br><br>
    </li>
    {% endfor %}
    
</ul>
{% endblock %}
