{% extends "base.html" %}

{% block content %}

<ul>
{% for store in stores %}

    <li>
    <strong>{{ store.name }}</strong>
    <br>
    Bandwidth Used This Month: {{ store.current_storage|floatformat:3 }} GB<br>
    Total Storage: {{ store.current_bandwidth|floatformat:3 }} GB ({{store.albums.count}} albums)
    
    <div style="margin: 10px; padding: 10px; background: #f5f5f5; width: 550px; border: 1px solid gray">
    {% if not store.unlimited_storage %}
        {% widthratio store.storage_left store.max_storage 100 %}% storage
        <div style="overflow: hidden; background: #DDDDDD; width: 500px; margin: 10px">
            <div style="float: left; width: {% widthratio store.storage_left store.max_storage 100 %}%; background: green">
            &nbsp;</div>
        </div>
    {% else %}
        <div>unlimited storage</div>
    {% endif %}

    {% if not store.unlimited_bandwidth %}
        {% widthratio store.bandwidth_left store.max_bandwidth 100 %}% monthy bandwidth
        <div style="overflow: hidden; background: #DDDDDD; width: 500px; margin: 10px">
            <div style="float: left; width: {% widthratio store.bandwidth_left store.max_bandwidth 100 %}%; background: green">
            &nbsp;</div>
        </div>
    {% else %}
        <div>unlimited bandwidth</div>
    {% endif %}
    </div>
    
    </li>

{% endfor %}
</ul>

{% endblock %}
