{% extends "base.html" %}

{% block content %}

<h2>Installation and Useage</h2>

<ul>
    <li>Extract zip file. Run "python setup.py install", then you can invoke the
    script by typing "tsup [options]"
    </li>
</ul>

<table border="1">
    <tr>
        <th>option</th><th>Description</th>
    </tr>
    
    <tr>
        <td>--help</td>
        <td>get a list of all options</td>
    </tr>
    
    <tr>
        <td>--artist="ARTIST"</td>
        <td>override the ID3/APE artist tags with this value</td>
    </tr>
    
    <tr>
        <td>--album="ALBUM'</td>
        <td>override the ID3/APE album tags with this value</td>
    </tr>
    
    <tr>
        <td>--date="DATE'</td>
        <td>override the ID3/APE date tags with this value</td>
    </tr>
    
    <tr>
        <td>--meta="META'</td>
        <td>set meta information about this album (see next section)</td>
    </tr>
    
    <tr>
        <td>--skip-verify</td>
        <td>Skips the normal verification step</td>
    </tr>
    
    <tr>
        <td>--password="xxx"</td>
        <td>Set the password -- <strong>REQUIRED</strong></td>
    </tr>
    
    <tr>
        <td>--leave-archive</td>
        <td>Add this option to get the resulting archive (no upload)</td>
    </tr>
    
    <tr>
        <td>--keep-archive</td>
        <td>Add this option to get the resulting archive (still does upload)</td>
    </tr>
    
    <tr>
        <td>--bootleg</td>
        <td>This album is so rare, it's only availiable in 192kbps.
        Use this option wisely. It disables LAME profile checking.</td>
    </tr>
    
    <tr>
        <td>--silent</td>
        <td>No output except for the server response.</td>
    </tr>
</table>

<br><br>
<strong>Note:</strong> The script does not have a progress meter, so it may
appear to hang while it's uploading. Once the upload is done, it will print
"recieved XXXXXX bytes from server!". Also, when albums get uploaded to the
server, they get added to the S3 mirror queue. While they are in the queue,
the albums will appear on the site, but they will appear to have no mirrors.

<h2>Changelog</h2>

<table>
    <tr>
        <td>v0.1 (07-29-2010)</td>
        <td>initial release</td>
    </tr>
    <tr>
        <td>v0.2 (07-31-2010)</td>
        <td>added <em>--date</em> option, changed <em>--verify</em>
        to <em>--skip-verify</em>, fixed corruption bug.</td>
    </tr>
    <tr>
        <td>v0.3 (08-02-2010)</td>
        <td>Complete rewrite. Added mechanism to nuke older versions of this
        client. Added <em>--leave-archive option</em>. Other small improvements.</td>
    </tr>
</table>

<h2>Upload requirements</h2>
<ul>
    <li>
        All files mp3 files need to be tagged with either APE tags or ID3 tags
        (v1 or v2). The following tags must be presennt: album, artist, date,
        track, and disc if the album is multiple discs.
    </li>
    
    <li>
        The date must be the date of the original release of the album. If the
        album was first released in 1992, but was remastered in 2003, the date
        in the ID3 tags should be 1992. If you are uploading the 2003 remastered
        version, then the meta value (see below) should be set to "2003 remaster".
        Live albums can be tagged as either just the year, or the full date in
        "YYYY-MM-DD" format.
    </li>

    <li>
        The album should be set to the actual album name the artist intended. Do
        not have the album be tagged as "The Chronic (remastered)", it should be
        tagged as just "The Chronic".
    </li>
    
    <li>
        The meta value of the album should be any information about the album
        that relates to the source of the rip. Exaqmples are "2003 remastered", 
        "vinyl rip", "cassette rip", "2005 reissue", "Remastered and Relit edition",
        "Fan-made compliation", etc.
    </li>    
    
    <li>
        If the album you want to upload is not tagged to these standards, you
        can override the value in the ID3/APE tags by using the commandline arguments
        such as:
        
        <br><br>
        <em>tsup --artist="Dr. Dre" --album="The Chronic"
        --meta="Remastered and Relit 2009" --date="1992" --password='xxx'</em>
        <br><br>
        
        This option will
        copy the mp3 files to a temp location, edit those tags with the new info
        and then use those files to make the archive. These extra options do not
        change any tags on the original files.
    </li>
    
    <li>
        You must include a password in the form: <em>--password='xx'</em> in order
        for the upload to work. Get the password you-know-where.
    </li>
</ul>

<big><a href="{{ MEDIA_URL }}tsclient-0.3.zip">Downoad script here (v0.3) 08-02-2010</a><big>

{% endblock %}
